In [34]:
library(cleanEHR)
# data.path <- "./inst/doc/sample_ccd.RData"
data.path <- "./inst/doc/anon_public1000.RData"
load(data.path)

In [35]:
infotb <- ccd@infotb

In [36]:
print(names(infotb))
print(summary(infotb))

 [1] "site_id"     "episode_id"  "nhs_number"  "pas_number"  "t_admission"
 [6] "t_discharge" "parse_file"  "parse_time"  "pid"         "index"
   site_id           episode_id         nhs_number         pas_number
 Length:30          Length:30          Length:30          Length:30
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




  t_admission                   t_discharge  parse_file          parse_time
 Min.   :1970-01-01 01:00:00   Min.   :NA   Length:30          Min.   :NA
 1st Qu.:1970-01-01 01:00:00   1st Qu.:NA   Class :character   1st Qu.:NA
 Median :1970-01-01 01:00:00   Median :NA   Mode  :character   Median :NA
 Mean   :1970-01-01 01:00:00   Mean   :NA                      Mean   :NA
 3rd Qu.:1970-01-01 01:00:00   3rd Qu.:NA                      3rd Qu.:NA
 Max.   :1970-01-01 01:00:00   Max.   :NA                      Max.   :NA
                               NA's   :30                      NA's   :30
      pid            index
 Min.   : 1.00   Min.   : 1.00
 1st Qu.: 8.25   1st Qu.: 8.25
 Median :15.50   Median :15.50
 Mean   :15.50   Mean   :15.50
 3rd Qu.:22.75   3rd Qu.:22.75
 Max.   :30.00   Max.   :30.00

In [37]:
str(infotb)

Classes ‘data.table’ and 'data.frame':	30 obs. of  10 variables:
 $ site_id    : chr  "pseudo_site" "pseudo_site" "pseudo_site" "pseudo_site" ...
 $ episode_id : chr  "1" "2" "3" "4" ...
 $ nhs_number : chr  "NA" "NA" "NA" "NA" ...
 $ pas_number : chr  "NA" "NA" "NA" "NA" ...
 $ t_admission: POSIXct, format: "1970-01-01 01:00:00" "1970-01-01 01:00:00" ...
 $ t_discharge: POSIXct, format: NA NA ...
 $ parse_file : chr  "NA" "NA" "NA" "NA" ...
 $ parse_time : POSIXct, format: NA NA ...
 $ pid        : int  1 2 3 4 5 6 7 8 9 10 ...
 $ index      : int  1 2 3 4 5 6 7 8 9 10 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [26]:
head(infotb)

  site_id     episode_id nhs_number pas_number t_admission         t_discharge
1 pseudo_site 1          NA         NA         1970-01-01 01:00:00 <NA>
2 pseudo_site 2          NA         NA         1970-01-01 01:00:00 <NA>
3 pseudo_site 3          NA         NA         1970-01-01 01:00:00 <NA>
4 pseudo_site 4          NA         NA         1970-01-01 01:00:00 <NA>
5 pseudo_site 5          NA         NA         1970-01-01 01:00:00 <NA>
6 pseudo_site 6          NA         NA         1970-01-01 01:00:00 <NA>
  parse_file parse_time pid index
1 NA         <NA>       1   1
2 NA         <NA>       2   2
3 NA         <NA>       3   3
4 NA         <NA>       4   4
5 NA         <NA>       5   5
6 NA         <NA>       6   6

In [27]:
infotb$"site_id"[1]

[1] "pseudo_site"